.arrow-anim {
    margin-top: 20px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .banner-text > h1, .banner-text > p {
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    transition: margin-left 0.5s ease;
  }

  .banner-text > h1{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-left: 50px;
    text-shadow:
      2px 2px 5px rgba(1, 0, 19, 0.4),
      4px 4px 7px rgba(1, 0, 19, 0.3),
      8px 8px 10px rgba(1, 0, 19, 0.2);
  }

  .banner-text > p {
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
    margin-right: 50px;
    font-size: 1.5rem;
    margin-left: 50px;
  }

  .flex-size {
    width: 33%;
    height: 300px;
  }

  /* PORTFOLIO PAGE GALLERY HOVER */

  .img-box {
    position: relative;
  }

  .gal-image {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .img-card {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .img-box:hover .gal-image {
    opacity: 0.3;
  }
  
  .img-box:hover .img-card {
    opacity: 1;
  }

  @media (min-width: 1300px) {
    .banner-text > h1{
      margin-left: 500px;
    }
  
    .banner-text > p {
      margin-left: 500px;
    }
  }

  /* FORM VALIDATION */

  .form-control.valid {
    border-color: green;
  }
  
  .form-control.invalid {
    border-color: red;
  }
  
  .form-control + small {
    color: red;
    opacity: 0;
    height: 0;
    transition: opacity .4s ease-out;
  }
  
  .form-control.invalid + small {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
    transition: opacity .4s ease-out;
  }