{% import "components/gallery-item.njk" as item %}
{% macro data(type, props, items) %}
    <section class="gallery-section gallery-{{type}}" style="--item-size: {{props.attrs.size or gallery.size or '0 0 200px'}}" {% if props.attrs.speed %}data-speed="{{ props.attrs.speed }}"{% endif %}>
        <div class="gallery-items">
            {% for i in items %}
                <div class="gallery-item {{props.attrs.ratio}}" {%if props.attrs.igmodal%} onclick="openGalleryModal(this)" {%endif%}>
                    {{ item.data(i, props) }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endmacro %}