---json
{
	"pagination": {"data": "site.languages", "size": 1, "alias": "lang"},
	"permalink": "/{{ lang }}/contact/",
  "layout": "layouts/base.njk",
  "title": "Contact | c4205M"
}
---

{% include "components/form-contact.njk" %}