---json
{
  "pagination": { "data": "site.languages", "size": 1, "alias": "lang" },
  "permalink": "/{{ lang }}/projects/azuki/",
  "layout": "layouts/base.njk",
  "title": "Azuki: Elemental XR Experience",
  "gallery0": {
    "type": "slider",
    "attr": {
      "size":  "0 0 150px",
      "ratio": "vertical"
    },
    "items": [
      { "type": "webm", "src": "/media/azuki/azuki-earth.webm","attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/azuki/azuki-fire.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/azuki/azuki-lightning.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/azuki/azuki-water.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "gallery1": {
    "type": "ig",
    "attr": {
      "ratio": "square",
      "igmodal": true
    },
    "items": [
      { "type": "webm", "src": "/media/azuki/src0.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"]},
      { "type": "text", "content": {
         "en": "Custom GPU shaders that drive both the particle systems and vertex displacement", 
         "tr": "Particle system ve vertex displacement değerlerini yöneten özel GPU shader’lar" 
        } 
      },
      { "type": "webm", "src": "/media/azuki/src6.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webp", "src": "/media/azuki/src_code.png" },
      { "type": "webm", "src": "/media/azuki/src10.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/azuki/src1.webm","attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "text", "title": { 
          "en": "Four Real-time VFX", 
          "tr": "Gerçek zamanlı VFX" 
        }, 
        "content": { 
          "en": "Inspired by Azuki universe", 
          "tr": "Azuki evreninden esinlendi" 
        } 
      },
      { "type": "webp", "src": "/media/azuki/src7.png" },
      { "type": "webm", "src": "/media/azuki/src3.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/azuki/src9.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "text", "content": { 
          "en": "High visual fidelity within mobile AR performance constraints", 
          "tr": "Mobil AR performans kısıtları içinde yüksek görüntü kalitesi sağlayan optimizasyon" 
        } 
      },
      { "type": "webp", "src": "/media/azuki/src8.png" }
    ]
  },
  
  "text": {
    "en": "An augmented reality experience built to promote Azuki's merchandise through effects tied to the brand's character universe.",
    "tr": "Azuki’nin karakter evreninden ilham alınan efektlerle markanın merchandise’ını öne çıkarmak için tasarlanmış bir artırılmış gerçeklik deneyimi."
  }
}
---
<!-- import component css-->
<link rel="stylesheet" href="/gallery.css">
{% import "components/gallery.njk" as galleryComp%}

<h2 class="section-h2 center">{{title}}</h2>
{{ galleryComp.data(gallery0.type, {attrs: gallery0.attr, pageLanguage: lang}, gallery0.items) }}
<section>
  <p class="center scroll-fade"> {{text[lang] | safe}}</p>
</section>
{{ galleryComp.data(gallery1.type, {attrs: gallery1.attr, pageLanguage: lang}, gallery1.items) }}