---json
{
  "pagination": { "data": "site.languages", "size": 1,"alias": "lang" },
  "permalink": "/{{ lang }}/projects/lenses/",
  "layout": "layouts/base.njk",
  "title": "TEST PAGE",
  "galleryLogo": {
    "type": "slider infinite-carousel slide-left",
    "attr": {
      "ratio": "square",
      "size": "0 0 60px",
      "speed": 130
    },
    "items": [
      { "type": "webp", "src": "/media/logos/bestbuy-light.png", "dark": "/media/logos/bestbuy-dark.png"},
      { "type": "webp", "src": "/media/logos/baileys.png"},
      { "type": "webp", "src": "/media/logos/cartier.png", "invert": true},
      { "type": "webp", "src": "/media/logos/cocacola.png"},
      { "type": "webp", "src": "/media/logos/delaware.png", "invert": true},
      { "type": "webp", "src": "/media/logos/drsquatch-light.png", "dark": "/media/logos/drsquatch-dark.png"},
      { "type": "webp", "src": "/media/logos/duplo.png"},
      { "type": "webp", "src": "/media/logos/fda.png"},
      { "type": "webp", "src": "/media/logos/hersheys-light.png", "dark": "/media/logos/hersheys-dark.png"},
      { "type": "webp", "src": "/media/logos/kors.png", "invert": true},
      { "type": "webp", "src": "/media/logos/mug.png"},
      { "type": "webp", "src": "/media/logos/navy.png", "invert": true},
      { "type": "webp", "src": "/media/logos/nike.png", "invert": true},
      { "type": "webp", "src": "/media/logos/pizzahut.png"},
      { "type": "webp", "src": "/media/logos/shark.png", "invert": true}
    ]
  },
  "gallery": {
    "type": "slider infinite-carousel slide-right",
    "attr": {
      "ratio": "vertical",
      "size": "0 0 120px",
      "speed": 140
    },
    "items": [
      { "type": "webm", "src": "/media/lenses/01.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/02.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/03.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/04.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/05.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/15.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/16.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/17.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "gallery1": {
    "type": "slider infinite-carousel slide-right",
    "attr": {
      "ratio": "vertical",
      "size": "0 0 120px",
      "speed": 180
    },
    "items": [
      { "type": "webm", "src": "/media/lenses/06.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/07.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/08.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/09.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/10.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/11.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/12.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/13.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/14.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "gallerySolo": {
    "type": "slider infinite-carousel slide-left",
    "attr": {
      "ratio": "vertical",
      "size": "0 0 180px",
      "speed": 150
    },
    "items": [
      { "type": "webm", "src": "/media/lenses/solo1.webm", "href": "https://www.snapchat.com/lens/cf0cde1e62c44507abc2ac035092a6e2", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo2.webm", "href": "https://www.snapchat.com/lens/be90945d514246fa9cc294ca07c44ee2", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo3.webm", "href": "https://www.snapchat.com/lens/156dfa2f460c48609ece7eb2b36a0bc0", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo4.webm", "href": "https://www.snapchat.com/lens/3e96d0e1f38645858e90d2181b71980f", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo5.webm", "href": "https://www.snapchat.com/lens/074620699c284c3c80fb260e6b4773c7", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo6.webm", "href": "https://www.snapchat.com/lens/6cd2ea51444a4f3e812d2e0999f41eea", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] }
    ]
  },
  "text": {
    "en": "Thorn is a Red Dot Award–winning modular ceiling light designed by QZENS, constructed from two primary component types. A parametric generation framework in Blender using Geometry Nodes and Blender API is developed to operationalize this design for production.",
    "tr": "Thorn, QZENS tarafından tasarlanmış ve Red Dot Ödülü kazanmış modüler bir tavan aydınlatmasıdır; iki ana bileşenden oluşur. Tasarımın üretim süreçlerine entegre edilebilmesi amacıyla Blender Geometry Nodes ve Blender API kullanılarak parametrik bir üretim çerçevesi geliştirilmiştir."
  }
}
---
<!-- import component css-->
<link rel="stylesheet" href="/gallery.css">
{% import "components/gallery.njk" as galleryComp %}

<h2 class="section-h2 center">PERSONAL WORKS</h2>
{{ galleryComp.data(gallerySolo.type, {attrs: gallerySolo.attr, pageLanguage: lang}, gallerySolo.items) }}
<h2 class="section-h2 center">BRANDED WORKS</h2>
{{ galleryComp.data(gallery.type, {attrs: gallery.attr, pageLanguage: lang}, gallery.items) }}
{{ galleryComp.data(galleryLogo.type, {attrs: galleryLogo.attr, pageLanguage: lang}, galleryLogo.items) }}
{{ galleryComp.data(gallery1.type, {attrs: gallery1.attr, pageLanguage: lang}, gallery1.items) }}


