---json
{
  "pagination": { "data": "site.languages", "size": 1,"alias": "lang" },
  "permalink": "/{{ lang }}/projects/lenses/",
  "layout": "layouts/base.njk",
  "title": "Snapchat Lenses",
  "galleryLogo": {
    "type": "slider infinite-carousel slide-left",
    "attr": {
      "ratio": "square",
      "size": "0 0 60px",
      "speed": 130
    },
    "items": [
      { "type": "webp", "src": "/media/logos/bestbuy-light.png", "dark": "/media/logos/bestbuy-dark.png"},
      { "type": "webp", "src": "/media/logos/baileys.png"},
      { "type": "webp", "src": "/media/logos/cartier.png", "invert": true},
      { "type": "webp", "src": "/media/logos/cocacola.png"},
      { "type": "webp", "src": "/media/logos/delaware.png", "invert": true},
      { "type": "webp", "src": "/media/logos/drsquatch-light.png", "dark": "/media/logos/drsquatch-dark.png"},
      { "type": "webp", "src": "/media/logos/duplo.png"},
      { "type": "webp", "src": "/media/logos/fda.png"},
      { "type": "webp", "src": "/media/logos/hersheys-light.png", "dark": "/media/logos/hersheys-dark.png"},
      { "type": "webp", "src": "/media/logos/kors.png", "invert": true},
      { "type": "webp", "src": "/media/logos/mug.png"},
      { "type": "webp", "src": "/media/logos/navy.png", "invert": true},
      { "type": "webp", "src": "/media/logos/nike.png", "invert": true},
      { "type": "webp", "src": "/media/logos/pizzahut.png"},
      { "type": "webp", "src": "/media/logos/shark.png", "invert": true}
    ]
  },
  "gallery": {
    "type": "slider infinite-carousel slide-right",
    "attr": {
      "ratio": "vertical",
      "size": "0 0 120px",
      "speed": 140
    },
    "items": [
      { "type": "webm", "src": "/media/lenses/01.webm", "href": "https://www.snapchat.com/lens/17247e4cd265408482cc3c392673ba61", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/02.webm", "href": "https://www.snapchat.com/lens/a9abf300d69b499ab1f977c1a9f68cf7", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/03.webm", "href": "https://www.snapchat.com/lens/9a416be2c716402d85270fe3d0dbd280", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/04.webm", "href": "https://www.snapchat.com/lens/57ae990a0d8e4b3488df3aed5b2258df", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/05.webm", "href": "https://www.snapchat.com/lens/14e12ca33b354695bed631cce321f7a7", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/15.webm", "href": "https://www.snapchat.com/lens/5c8c051cc56e4a619cee059e6c433796", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/16.webm", "href": "https://www.snapchat.com/lens/421dadd65eaf4d07b86de6918a387074", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/17.webm", "href": "https://www.snapchat.com/lens/17149105f7184f1c8d7caf568126d6c9", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "gallery1": {
    "type": "slider infinite-carousel slide-right",
    "attr": {
      "ratio": "vertical",
      "size": "0 0 120px",
      "speed": 180
    },
    "items": [
      { "type": "webm", "src": "/media/lenses/06.webm", "href": "https://www.snapchat.com/lens/aa0fdd7317b741f49509b2de4757aa75", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/07.webm", "href": "https://www.snapchat.com/lens/fdf7d6dffc294aa9af6d8750d523ae85", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/08.webm", "href": "https://www.snapchat.com/lens/3c0584e8311f4691ab4becaf544afee3", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/09.webm", "href": "https://www.snapchat.com/lens/c01051827b5e485aaea64fe5e9829760", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/10.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/11.webm", "href": "https://www.snapchat.com/lens/13901ed9597e4763b5d7b6b8e09580d7", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/12.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/13.webm", "href": "https://www.snapchat.com/lens/361f7c6ff9a74987a053769c2837965e", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/14.webm", "href": "https://www.snapchat.com/lens/f1715a91e92f4cfc814f4be057b69e6e", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "gallerySolo": {
    "type": "slider infinite-carousel slide-left",
    "attr": {
      "ratio": "vertical",
      "size": "0 0 180px",
      "speed": 150
    },
    "items": [
      { "type": "webm", "src": "/media/lenses/solo1.webm", "href": "https://www.snapchat.com/lens/cf0cde1e62c44507abc2ac035092a6e2", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo2.webm", "href": "https://www.snapchat.com/lens/be90945d514246fa9cc294ca07c44ee2", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo3.webm", "href": "https://www.snapchat.com/lens/156dfa2f460c48609ece7eb2b36a0bc0", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo4.webm", "href": "https://www.snapchat.com/lens/3e96d0e1f38645858e90d2181b71980f", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo5.webm", "href": "https://www.snapchat.com/lens/074620699c284c3c80fb260e6b4773c7", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] },
      { "type": "webm", "src": "/media/lenses/solo6.webm", "href": "https://www.snapchat.com/lens/6cd2ea51444a4f3e812d2e0999f41eea", "attrs": ["autoplay", "muted", "playsinline", "loop"], "class": ["link-emphasize"] }
    ]
  },
  "title0": {
    "en": "PERSONAL WORKS",
    "tr": "KİŞİSEL ÇALIŞMALAR"
  },
  "title1": {
    "en": "BRANDED WORKS",
    "tr": "MARKA ÇALIŞMALARI"
  }
}
---
<!-- import component css-->
<link rel="stylesheet" href="/gallery.css">
{% import "components/gallery.njk" as galleryComp %}

<h2 class="section-h2 center">{{title0[lang]}}</h2>
{{ galleryComp.data(gallerySolo.type, {attrs: gallerySolo.attr, pageLanguage: lang}, gallerySolo.items) }}
<h2 class="section-h2 center">{{title1[lang]}}</h2>
{{ galleryComp.data(gallery.type, {attrs: gallery.attr, pageLanguage: lang}, gallery.items) }}
{{ galleryComp.data(galleryLogo.type, {attrs: galleryLogo.attr, pageLanguage: lang}, galleryLogo.items) }}
{{ galleryComp.data(gallery1.type, {attrs: gallery1.attr, pageLanguage: lang}, gallery1.items) }}


