---json
{
  "pagination": { "data": "site.languages", "size": 1,"alias": "lang" },
  "permalink": "/{{ lang }}/test/",
  "layout": "layouts/base.njk",
  "title": "TEST PAGE",
  "galleryLogo": {
    "type": "slider",
    "igmode": false,
    "scroll": "infinite-left",
    "ratio": "square",
    "size": "0 0 60px",
    "speed": "150px",
    "items": [
      { "type": "image", "src": "/media/logos/bestbuy-light.png", "dark": "/media/logos/bestbuy-dark.png"},
      { "type": "image", "src": "/media/logos/baileys.png"},
      { "type": "image", "src": "/media/logos/cartier.png", "invert": true},
      { "type": "image", "src": "/media/logos/cocacola.png"},
      { "type": "image", "src": "/media/logos/delaware.png", "invert": true},
      { "type": "image", "src": "/media/logos/drsquatch-light.png", "dark": "/media/logos/drsquatch-dark.png"},
      { "type": "image", "src": "/media/logos/duplo.png"},
      { "type": "image", "src": "/media/logos/fda.png"},
      { "type": "image", "src": "/media/logos/hersheys-light.png", "dark": "/media/logos/hersheys-dark.png"},
      { "type": "image", "src": "/media/logos/kors.png", "invert": true},
      { "type": "image", "src": "/media/logos/mug.png"},
      { "type": "image", "src": "/media/logos/navy.png", "invert": true},
      { "type": "image", "src": "/media/logos/nike.png", "invert": true},
      { "type": "image", "src": "/media/logos/pizzahut.png"},
      { "type": "image", "src": "/media/logos/shark.png", "invert": true}
    ]
  },
  "gallery": {
    "type": "slider",
    "igmode": false,
    "scroll": "infinite-right",
    "size": "0 0 120px",
    "speed": "120px",
    "ratio": "vertical",
    "items": [
      { "type": "webm", "src": "/media/lenses/01.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/02.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/03.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/04.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/05.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/15.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/16.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/17.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "gallery1": {
    "type": "slider",
    "igmode": false,
    "scroll": "infinite-right",
    "size": "0 0 120px",
    "speed": "90px",
    "ratio": "vertical",
    "items": [
      { "type": "webm", "src": "/media/lenses/06.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/07.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/08.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/09.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/10.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/11.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/12.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/13.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/14.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "gallerySolo": {
    "type": "slider",
    "igmode": false,
    "scroll": "infinite-right",
    "ratio": "vertical",
    "items": [
      { "type": "webm", "src": "/media/lenses/solo1.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/solo2.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/solo3.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/solo4.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "webm", "src": "/media/lenses/solo5.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] }
    ]
  },
  "text": {
    "en": "Thorn is a Red Dot Award–winning modular ceiling light designed by QZENS, constructed from two primary component types. A parametric generation framework in Blender using Geometry Nodes and Blender API is developed to operationalize this design for production.",
    "tr": "Thorn, QZENS tarafından tasarlanmış ve Red Dot Ödülü kazanmış modüler bir tavan aydınlatmasıdır; iki ana bileşenden oluşur. Tasarımın üretim süreçlerine entegre edilebilmesi amacıyla Blender Geometry Nodes ve Blender API kullanılarak parametrik bir üretim çerçevesi geliştirilmiştir."
  }
}
---
<!-- import component css-->
<link rel="stylesheet" href="/gallery.css">
{% import "components/gallery.njk" as galleryTemplate%}

<h2 class="section-h2 center">PERSONAL WORKS</h2>
{{ galleryTemplate.data(gallerySolo, lang) }}
<h2 class="section-h2 center">BRANDED WORKS</h2>
{{ galleryTemplate.data(gallery, lang) }}
{{ galleryTemplate.data(galleryLogo, lang) }}
{{ galleryTemplate.data(gallery1, lang) }}