---json
{
  "pagination": { "data": "site.languages", "size": 1,"alias": "lang" },
  "permalink": "/{{ lang }}/projects/thorn/",
  "layout": "layouts/base.njk",
  "title": "THORN — Parametric Lighting System",
  "gallery": {
    "type": "ig",
    "ratio": "square",
    "igmode": true,
    "items": [
      { "type": "webm", "src": "/media/thorn/thorn-03-m.webm", "attrs": ["autoplay", "muted", "playsinline"] },
      { "type": "image", "src": "/media/thorn/thorn-07.webp" },
      { "type": "webm", "src": "/media/thorn/thorn-02-m.webm", "attrs": ["autoplay", "muted", "playsinline"] },
      { "type": "webm", "src": "/media/thorn/thorn-01-m.webm", "attrs": ["autoplay", "muted", "playsinline", "loop"] },
      { "type": "text", "content": { "en": "Assembly logic into the node structure", "tr": "Montaj mantığının node sisteminde inşası" } },
      { "type": "image", "src": "/media/thorn/thorn-00.webp" },
      { "type": "image", "src": "/media/thorn/thorn-03.webp" },
      { "type": "image", "src": "/media/thorn/thorn-06.webp" },
      { "type": "text", "content": { "en": "Parametric generation in Blender using Geometry Nodes", "tr": "Geometry Nodes ile parametrik jenerasyon" } },
      { "type": "text", "content": { "en": "Custom export add-on to create fabrication documentation", "tr": "Üretim dokümantasyonu oluşturmak için geliştirilmiş özel export eklentisi" } },
      { "type": "image", "src": "/media/thorn/thorn-02.webp" },
      { "type": "image", "src": "/media/thorn/thorn-05.webp" }
    ]
  },
  "text": {
    "en": "Thorn is a Red Dot Award–winning modular ceiling light designed by QZENS, constructed from two primary component types. A parametric generation framework in Blender using Geometry Nodes and Blender API is developed to operationalize this design for production.",
    "tr": "Thorn, QZENS tarafından tasarlanmış ve Red Dot Ödülü kazanmış modüler bir tavan aydınlatmasıdır; iki ana bileşenden oluşur. Tasarımın üretim süreçlerine entegre edilebilmesi amacıyla Blender Geometry Nodes ve Blender API kullanılarak parametrik bir üretim çerçevesi geliştirilmiştir."
  }
}
---
<!-- import component css-->
<link rel="stylesheet" href="/gallery.css">

{% import "components/gallery.njk" as galleryTemplate%}

<h2 class="section-h2 center">{{title}}</h2>
<p class="center description-gallery"> {{text[lang]}}</p>
{{ galleryTemplate.data(gallery, lang) }}